{% extends 'wallet/base_page.jinja' %}

{% block title %}
    <title>Создать кошелек</title>
{% endblock %}

{% block content %}
    <h1>Создать кошелек</h1>
    <form action="{{ url ('wallet') }}" method="post" enctype="multipart/form-data">
        <label>
            <input type="text" name="name" placeholder="name">
        </label>
        <label>
            <input type="text" name="currency" placeholder="currency">
        </label>
        <label>
            <input type="text" name="balance" placeholder="balance">
        </label>
        <button type="submit">Отправить</button>

    </form>

{% endblock %}